<o-form #form
  service="gyms"
  entity="gym"
  keys="gymid"
  header-actions="U;D"
  show-header-navigation="no"
>
  <div style="display: none">
    <o-text-input
      attr="gymid"
      sql-type="INTEGER"
      enabled="no"
      visible="no"
      (onChange)="loadRoute()"
    ></o-text-input>
  </div>
 
  <div class="containerform">
    <div class="logoform">
        <o-image
          id="photo"
          attr="photo"
          label=""
          empty-image="assets/images/no-image.png"
          sql-type="OTHER"
        ></o-image>
    </div>
  
    <!-- datos -->
    <div class="datosform">
      <h2 class ="title_info">{{ 'INFO' | oTranslate }}</h2>

      <!-- Name Column -->
      <div class="nameform">
        <o-text-input
          class="input-padding"
          attr="name"
          fxFlex="40"
          required="yes"
        ></o-text-input>

        <!-- State Column -->
        <o-slide-toggle
          class="input-padding"
          color="primary"
          attr="state"
          label="{{ 'state' | oTranslate }}"
          [data]="getValue()"
          read-only="no"
        ></o-slide-toggle>
      </div>

      <div class="contactform">
        <!-- Address Column -->
        <o-text-input
          class="input-padding"
          attr="address"
          fxFlex="40"
          required="yes"
        ></o-text-input>

        <!-- City Column -->
        <o-text-input
          class="input-padding"
          attr="city"
          fxFlex="20"
        ></o-text-input>
      </div>
        
      <div class="nameform">
      <!-- Schedule Column -->
        <o-text-input
          attr="schedule"
          fxFlex="61.7"
        ></o-text-input>
      </div>
        
      <div class="nameform">
      <!-- Phone Column -->
        <!-- <o-integer-input
          attr="phone"
          class="input-padding"
          step="0"
          grouping="no"
          fxFlex="40"
        ></o-integer-input> -->

        <o-phone-input
          attr="phone"
          label="phone"
          countries="+34"
          data="+34"
          read-only="no"
          required="yes"
          class="input-padding"
        ></o-phone-input>

        <!-- Email Column -->
        <o-email-input
          attr="email"
          fxFlex
          fxFlex="26"
        ></o-email-input>

        </div>
        <!-- Description Column -->
        <div class="nameform">
        <o-textarea-input attr="description" fxFlex></o-textarea-input>
        </div>
  <!-- <div class="div_button_services">
  <o-button id="botton_service"type="RAISED" label="services" layout-padding color="primary" [routerLink] ="serviceRoute"></o-button>
</div> -->
</div>
</div>
<h2 class="galery_title">{{ 'gallery' | oTranslate }}</h2>
  <div class="images">
    <o-column>
      <o-image
        id="image1"
        attr="image1"
        label=""
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
        type="image"
        image-type="base64"
      ></o-image>
    </o-column>
    <o-column>
      <o-image
        id="image2"
        attr="image2"
        label=""
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
        type="image"
        image-type="base64"
      ></o-image>
    </o-column>
    <o-column>
      <o-image
        id="image3"
        attr="image3"
        label=""
        empty-image="assets/images/no-image.png"
        sql-type="OTHER"
        type="image"
        image-type="base64"
      ></o-image>
    </o-column>
  </div>
</o-form>