<o-form-layout-manager
  attr="gymsLayoutManager"
  title="{{ 'SERVICES' | oTranslate }}"
  mode="tab"
  label-columns="name"
  store-state="no"

>
  <div fxFill>
    <o-table
      attr="servicesTable"
      service="gymservices"
      entity="myService"
      keys="serviceid"
      columns="serviceid;name;description;duration;price;categoryid;gymid;categories;user_"
      visible-columns="name;description;categories"
      delete-button="false"
      refresh-button="false"
      query-rows="10"
      store-state="no"
      virtual-scroll="no"

    >

    <!-- <o-table-column attr="price" title="price" type="currency"
      currency-symbol="€" currency-symbol-position="right" grouping="yes"
      thousand-separator="." decimal-separator="," max-decimal-digits="0" virtual-scroll="no"  max-width="25px"auto-adjust="yes">

    </o-table-column>

    <o-table-column attr="duration" title="duration" type="currency"
      currency-symbol="min" currency-symbol-position="right" max-decimal-digits="0"  max-width="10px"auto-adjust="yes">
    </o-table-column> -->

    <o-table-column attr="description" title="description"type="string"auto-adjust="yes">
    </o-table-column>

    <o-table-column attr="categories" title="categories" auto-adjust="yes">
    </o-table-column>

    <o-table-column attr="name" title="name" type="string" auto-adjust="yes">
    </o-table-column>
    </o-table>
  </div>
</o-form-layout-manager>
