<div fxFill>
  <o-grid #gymsGrid
    attr="gymsGrid"
    service="gymsuser"
    entity="gym"
    keys="gymid"
    columns="gymid;photo;name;address;city;cif;phone;email;schedule;description;rate;categories;image1;image2;image3"
    quick-filter-columns="name;city;rate;categories"
    query-rows="9" show-page-size="false" orderable="false" cols="3"
    controls="true"  detail-mode="none" 
    refresh-button="no" gutter-size="22px"
   
    > <!-- grid-item-height="1:2"  -->
  <o-grid-item *ngFor="let list of gymsGrid.dataArray">
    
  <div class= "container" (click)="openDetail(list)">

    <div class="containerphoto">
      <o-image class = "image1" attr="photo" data="{{ list.photo }}" read-only = "true" show-controls = "false" 
      type="image"
      empty-image="assets/images/no-image.png"
      image-type="base64"
      ></o-image>
    </div>

    <div class="name">
      <span><b>{{ list.name }}</b></span>
    </div>

    <div class="city">
      <mat-icon>location_city</mat-icon><span><i>{{ list.city }}</i></span>
    </div>

    <div class="schedule">
      <mat-icon>calendar_month</mat-icon><span>{{ list.schedule }}</span>
    </div>
    
    <!-- <div class="rate">
      <mat-icon [ngStyle]="{'color':'#B2A000'}">star</mat-icon><span>{{ list.rate }} {{ 'stars' | oTranslate }}</span>
    </div> -->
    
    <!-- <div class="categories">
      <mat-icon>checklist</mat-icon><span>{{ list.categories }}</span>
    </div> -->

  </div>
    </o-grid-item>
  </o-grid>
</div>