<o-form #form attr="profile_detail" service="users" entity="user" fxLayout="column"
show-header="no" header-actions="U" keys="user_" keys-sql-types="VARCHAR"
show-header-navigation="yes">
           
    <div class="ontimize-buttons">
        <p id="status"></p>
        <!-- <button
            mat-raised-button
            color="primary"
            class="buttonqr"
            (click)="showQr()">{{ 'GENERATE_QR' | oTranslate }}
        </button> -->
    </div>
 
    <div id="qrid" style="display: none;">
        <qrcode
            [qrdata]="data.name +' '+ data.surname +' '+ data.nif +': '+ 'Acceso permitido'" 
            [width]="300"
            [errorCorrectionLevel]="'M'"
            class="bshadow">
        </qrcode>
        <p class="info__payment">{{ 'ACCESS_QR' | oTranslate }}</p>
    </div>
</o-form>



